/*---------------------
  Sign Up
-----------------------*/
.signup {
  padding-top: 30px;
  padding-bottom: 100px;

  .login__form {

      &:after {
          height: 450px;
      }

      h5 {
        font-size: 15px;
        color: $white-color;
        margin-top: 36px;

        a {
          color: $primary-color;
          font-weight: 700;
        }
      }
  }
}